@page
@model ContactModel
@{
    ViewData["Title"] = Resources._Layout.Contact_us;
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br><br>
            <h2>Contact us</h2>
            <p>We are looking forward to having you in Rytteskolen Bed &amp; Breakfast. You can use any of the following methods to book your stay.</p>
            <p>Vi ser frem til at have dig i b&amp;b, brug en af følgende metoder til at booke dit ophold</p>
            <div>
                <a href="tel:004529292231">+45 29 29 22 31</a>
            </div>
            <br>
            <div>
                <p><a href="mailto:trinedyhrwiberg@gmail.com">trinedyhrwiberg@gmail.com</a></p>
            </div>

            <a href="https://www.airbnb.dk/rooms/20368166"><img class="rounded" alt="airbnb" src="images/airbnb.jpg" width="30%"></a>
        </div>

        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d36619.392285401074!2d12.444465!3d54.995683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7dba2d4d32e4935!2sRytterskolens+Bed+and+Kitchen!5e0!3m2!1sen!2sus!4v1538574391948" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
